:root{
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-title-color: #212121;
    --primary-accent-color: #ffffff;
    --secondary-accent-color:#2196f3;
    --dark-background: #2F303A;
    --light-background: #F5F4FA;
    --box-shadow: rgba(0, 0, 0, 0.14);
    --button-hover: #188CE8;
    --header-border: #ececec;
    --portfolio-box-border: #eeeeee;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
}

body{
    width: 1600px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-accent-color);
}
.link{
    font-style: normal;
    text-decoration: none;
}
.list{
    list-style: none;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.container{
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.nav{
    display: flex;
    justify-content: space-between;
}
.logo-nav,
.link-nav,
.contact-nav{
    display: flex;
}
.nav-item{
    padding-left: 50px;
}
.nav-list{
    font-weight: 500;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--header-border);
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    color: var(--secondary-accent-color);
}
.logo-black-accent{
    color: var(--primary-title-color);
}
.nav-list .link{
    color: var(--primary-title-color);
}
.nav-list .link.current{
    color: var(--secondary-accent-color);
}
.mail,
.tel{
    color: var(--primary-text-color);
}
.nav-list .mail:hover,
.nav-list .mail:focus{
    color: var(--secondary-accent-color);
}

/* page studio */

.hero{
    text-align: center;
    background-color: var(--dark-background);
}
.hero-title{
    margin: auto;
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-accent-color);
}
.hero-button{
    margin-top: 30px;
    min-width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-accent-color);
    background: var(--secondary-accent-color);
    box-shadow: 0px 4px 4px var(--box-shadow);
    border-radius: 4px;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus{
    background-color: var(--button-hover);
}
.instruments-box:not(:first-child){
    width: 270;
    align-items: flex-start;
    margin-left: 30px;
}
.instruments-title {
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primary-title-color);
}
.instruments-text {
    margin-top: 10px;
    line-height: 24px;
    color: var(--primary-text-color);
}
.secondary-titles {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    color: var(--primary-title-color)
}
.items-list{
    display: flex;
    align-items: center;
}
.items-box:not(:first-child){
    margin-left: 30px;
}
.info-list {
    display: flex;
    text-align: center;
    margin-top: 50px;
}
.team{
    background-color: var(--light-background);
}
.team-card{
    margin-left: 30px;
    box-shadow: 0px 1px 3px var(--box-shadow), 0px 1px 1px var(--box-shadow), 0px 2px 1px var(--box-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-accent-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    color: var(--primary-title-color);
}
.team-text {
    font-size: 16px;
    color: var(--primary-text-color);
}

/* page portfolio */

.filter-list{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-title-color);
}
.secondary-button{
    align-content: center;
    padding: 6px 22px;
    margin-right: 8px;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    cursor: pointer;
    color: var(--primary-title-color);
    background-color: var(--light-background);
    box-shadow: 0px 3px 1px var(--box-shadow), 0px 1px 2px var(--box-shadow), 0px 2px 2px var(--box-shadow);
    border: none;
}
.secondary-button:hover,
.secondary-button:focus{
    color: var(--primary-accent-color);
    background-color: var(--secondary-accent-color);
}
.project-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
}
.progect-card{
    width: 370px;
    background-color: var(--primary-accent-color);
    border: 1px solid var(--portfolio-box-border);
}
.project-list > .progect-card{
    flex-basis: (100%/3 -15px);
    margin-top: 15px;
    margin-left: 15px;
}
.progect-title{
    margin-top: 20px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}
.progect-text{
    margin-top: 4px;
    margin-left: 24px;
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}

/* footer */

.footer-list{
    font-style: normal;
    line-height: 1.71;
    background-color: var(--dark-background);
}
.footer-items{
    display: flex;
    flex-direction: column;
}
.logo-white-accent{
    color: var(--primary-accent-color);
}
.address{
    margin-top: 20px;
    color: var(--primary-accent-color);
}
.contact{
    margin-top: 9px;
    color: var(--footer-contacts-color);
}
.address:hover,
.contact:hover,
.address:focus,
.contact:focus{
    color: var(--secondary-accent-color);
}